.bodyy {
  background-image: url('pexels-lukas-616401.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
  margin: 0;
  overflow: auto; /* Enable scrolling on body */
}


